$text-color: #000000;
$primary-color: #744BFC;
$secondary-button-color: #F5F7FF;
$background-color: #FFFFFF;
$table-background-color: #eff2ff;
$font-family: "Poppins";
$table-border: #C4CEE5;
$table-color1: #FFFFFFB5;
$table-color2: #eff2ff;