$text-color: #000000;
$primary-button-color: #744BFC;
$secondary-button-color: #F5F7FF;
$background-color: #FFFFFF;
$table-background-color: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);
$font-family: "Poppins";