@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.overflow-hidden {
  margin: auto;
  padding: 1rem 5rem;
}

@media screen and (max-width: 992px) {
  .overflow-hidden {
    padding: 1rem 1rem;
  }
}
.navbar {
  background-color: #FFFFFF;
}
.navbar img {
  width: 124.27px;
  height: 36.7px;
}
.navbar__icon {
  height: 25px;
  width: 20px;
  color: #744BFC;
}
.navbar .navbar-toggler-icon {
  color: #744BFC;
}
.navbar a {
  color: #000000;
}

@media screen and (max-width: 992px) {
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-body .navlink {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 0 !important;
  }
  .offcanvas-body .navicon {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.homepage {
  width: 100%;
}

.grid-card {
  background-color: #eff2ff;
  margin: 0 29px 40px;
  border-radius: 6px;
}
.grid-card .text-span {
  position: relative;
  font-size: 12px;
  color: #744BFC;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  bottom: 56px;
  left: 7px;
}
.grid-card .gridbar {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  margin-left: 20rem;
  position: relative;
  top: 36px;
  z-index: 2;
  height: 42px;
}
@media (max-width: 992px) {
  .grid-card .gridbar {
    margin-left: 0;
  }
}
.grid-card .gridbar__search-icon {
  width: 45px;
  height: 42px;
  background-color: #744BFC;
  border-radius: 0 39px 39px 0;
  position: absolute;
  color: white;
  padding: 0 8px;
  left: -46px;
  top: 1px;
}
@media (max-width: 992px) {
  .grid-card .gridbar__search-icon {
    left: 150px;
  }
}
.grid-card .gridbar__filt-icon {
  align-items: center;
  position: absolute;
  background-color: #fff;
  border-radius: 29px;
  color: #744BFC;
  height: 42px;
  left: 7px;
  top: 1px;
  padding: 0.4rem 0.5rem;
  width: 49px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .grid-card .gridbar__filt-icon {
    display: none;
  }
}
.grid-card .gridbar__add-button {
  border-radius: 39px;
  width: 175px;
  height: 42px;
  background-color: #744BFC;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .grid-card .gridbar__add-button {
    display: none;
  }
}
.grid-card .gridbar__btn {
  display: none;
  border-radius: 39px;
  width: 50px;
  height: 42px;
  background-color: #744BFC;
  border: none;
}
@media (max-width: 992px) {
  .grid-card .gridbar__btn {
    display: block;
  }
}

.dx-widget {
  background-color: #eff2ff;
}
.dx-widget .dx-scrollable-scrollbar {
  background-color: transparent;
}
.dx-widget .dx-toolbar {
  margin-bottom: 0;
  background-color: #eff2ff;
}
.dx-widget .dx-datagrid-header-panel {
  padding-bottom: 17px;
  background-color: #eff2ff;
}
.dx-widget .dx-datagrid-header-panel .dx-datagrid-search-panel {
  top: -5px;
  padding-left: 0;
  margin-left: 0;
  border-radius: 39px;
  width: 320px !important;
  border: none;
  height: 42px;
}
@media (max-width: 992px) {
  .dx-widget .dx-datagrid-header-panel .dx-datagrid-search-panel {
    width: 190px !important;
  }
}
.dx-widget .dx-icon {
  display: none;
}
.dx-widget .dx-dropdowneditor-icon {
  border-radius: 39px;
  color: #744BFC;
}
.dx-widget .dx-dropdowneditor-icon::before {
  color: #744BFC;
}
.dx-widget .dx-page-sizes {
  margin-left: 55px;
}
.dx-widget .dx-page-sizes .dx-selectbox {
  border-radius: 39px !important;
  width: 90px !important;
  border: 1px solid #cfc0ff;
}
.dx-widget .dx-page-sizes .dx-texteditor-input-container::after {
  content: "rows";
  font-size: 11px;
}
.dx-widget .dx-page-sizes .dx-texteditor-input {
  font-size: 12px;
  padding-left: 12px;
}
.dx-widget .dx-next-button,
.dx-widget .dx-prev-button {
  color: #744BFC;
}
.dx-widget .dx-toolbar-after {
  left: 0;
  padding-left: 0;
}
.dx-widget .dx-datagrid-pager {
  padding: 20px 0;
}
.dx-widget .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-widget .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: #cfc0ff;
}
.dx-widget .dx-datagrid-headers.dx-datagrid-nowrap {
  border-bottom: none;
}
.dx-widget .dx-datagrid-rowsview {
  border-top: none;
}
.dx-widget .dx-datagrid-action.dx-cell-focus-disabled.dx-datagrid-drag-action {
  padding: 22px 15px;
  font-weight: 600;
  font-size: 13px;
  color: #000000;
}
.dx-widget .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom-color: #C4CEE5;
}
.dx-widget .dx-row.dx-data-row.dx-column-lines td {
  padding: 22px 16px;
  border-color: #C4CEE5;
  font-weight: 400;
  font-size: 12px;
}
.dx-widget .dx-datagrid .dx-column-lines > td {
  border-color: #C4CEE5;
}
.dx-widget .dx-column-indicators .dx-sort {
  color: #744BFC;
  font-size: 16px;
}

.modal-content .form-control:focus {
  border-color: #744BFC;
  box-shadow: 0 0 0 0.25rem rgba(116, 75, 252, 0.1098039216);
}
.modal-content .modal-footer .btn span {
  font-size: 13px;
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */