@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

// NAVBAR
.overflow-hidden {
  margin: auto;
  padding: 1rem 5rem;
}
@media screen and (max-width: 992px) {
  .overflow-hidden {
    padding: 1rem 1rem;
  }
}
.navbar {
  background-color: $background-color;

  img {
    width: 124.27px;
    height: 36.7px;
  }

  &__icon {
    height: 25px;
    width: 20px;
    color: $primary-color;
  }
  .navbar-toggler-icon {
    color: $primary-color;
  }
  a{
    color: #000000;
  }
}

@media screen and (max-width: 992px) {
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    .navlink {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-grow: 0 !important;
      
    }
    .navicon {
      display: flex;
      flex-direction: column;
      flex-flow: row;
      column-gap: 1rem;
    }
  }
}

// HOMEPAGE
.homepage {
  width: 100%;
}

// DATAGRİD
.grid-card {
  background-color: $table-background-color;
  margin: 0 29px 40px;
  border-radius: 6px;

  .text-span {
    position: relative;
    font-size: 12px;
    color: $primary-color;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    bottom: 56px;
    left: 7px;
  }
  .gridbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-left: 20rem;
    position: relative;
    top: 36px;
    z-index: 2;
    height: 42px;
    @media (max-width: 992px) {
        margin-left: 0;
    }
   
    &__search-icon {
      width: 45px;
      height: 42px;
      background-color: $primary-color;
      border-radius: 0 39px 39px 0;
      position: absolute;
      color: #ffff;
      padding: 0 8px;
      left: -46px;
      top: 1px;
      @media (max-width: 992px) {
        left: 150px;
      }
    }
    &__filt-icon {
      align-items: center;
      position: absolute;
      background-color: #fff;
      border-radius: 29px;
      color: $primary-color;
      height: 42px;
      left: 7px;
      top: 1px;
      padding: 0.4rem 0.5rem;
      width: 49px;
      cursor: pointer;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &__add-button{
      border-radius: 39px;
      width: 175px;
      height: 42px;
      background-color: $primary-color;
      border: none;
      font-size: 14px;
      font-weight: 500;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &__btn{
      display: none;
      border-radius: 39px;
      width: 50px;
      height: 42px;
      background-color: $primary-color;
      border: none;
      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}
.dx-widget {
  background-color: $table-background-color;
  
  
  .dx-scrollable-scrollbar {
    background-color: transparent;
  }
  .dx-toolbar {
    margin-bottom: 0;
    background-color: $table-background-color;
  }
  .dx-datagrid-header-panel {
    padding-bottom: 17px;
    background-color: $table-background-color;

    .dx-datagrid-search-panel {
      top: -5px;
      padding-left: 0;
      margin-left: 0;
      border-radius: 39px;
      width: 320px !important;
      border: none;
      height: 42px;

      @media (max-width: 992px) {
        width: 190px !important;
      }
    }
  }

  .dx-icon {
    display: none;
  }
  .dx-dropdowneditor-icon {
    border-radius: 39px;
    color: $primary-color;

    &::before {
      color: $primary-color;
    }
  }
  .dx-page-sizes {
    margin-left: 55px;

    .dx-selectbox {
      border-radius: 39px !important;
      width: 90px !important;
      border: 1px solid #cfc0ff;
    }

    .dx-texteditor-input-container {
      &::after {
        content: "rows";
        font-size: 11px;
      }
    }
    .dx-texteditor-input {
      font-size: 12px;
      padding-left: 12px;
    }
  }
  .dx-next-button,
  .dx-prev-button {
    color: $primary-color;
  }
  .dx-toolbar-after {
    left: 0;
    padding-left: 0;
  }
  .dx-datagrid-pager {
    padding: 20px 0;
  }
  .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
  .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
    background-color: #cfc0ff;
  }
  
  .dx-datagrid-headers.dx-datagrid-nowrap{
    border-bottom: none;
  }
 
  .dx-datagrid-rowsview{
    border-top: none;

    table{ // tablo ara renkler ?
      tbody{
        tr:nth-child(odd) {
          
        }
        
      }
    }
  }
  .dx-datagrid-action.dx-cell-focus-disabled.dx-datagrid-drag-action{
    padding: 22px 15px;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
   
  }
 
  .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-bottom-color: $table-border;
  }
  .dx-row.dx-data-row.dx-column-lines{
    td{
      padding: 22px 16px;
      border-color: $table-border;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .dx-datagrid .dx-column-lines > td {
    border-color: $table-border;
  }
  .dx-column-indicators {
    .dx-sort{
      color: $primary-color;
      font-size: 16px;   
    }
  }

}

//MODAL
.modal-content{

  .form-control{
    &:focus{
      border-color: $primary-color;
      box-shadow: 0 0 0 0.25rem #744bfc1c;
    }
  }
  .modal-footer{
    .btn{
      span{
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}